# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks

repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v3.4.0
    hooks:
    -   id: end-of-file-fixer
    -   id: trailing-whitespace
    -   id: check-yaml

-   repo: https://github.com/asottile/pyupgrade
    rev: v2.11.0
    hooks:
    -   id: pyupgrade
        args: ["--py38-plus"]

-   repo: https://github.com/asottile/seed-isort-config
    rev: v2.2.0
    hooks:
    -   id: seed-isort-config

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.8.0
    hooks:
    -   id: isort
        additional_dependencies:
          - toml

-   repo: https://github.com/ambv/black
    rev: 20.8b1
    hooks:
    - id: black
      args: [--line-length=88, --safe]

-   repo: https://github.com/pycqa/pylint
    rev: pylint-2.7.4
    hooks:
    -   id: pylint
        args: [--extension-pkg-whitelist=django]
        additional_dependencies: ["Django"]

-   repo: https://github.com/pre-commit/mirrors-mypy
    rev: v0.812
    hooks:
      - id: mypy
